# Environment Variables Template for Backend API
PORT=5000
JWT_SECRET=piksense-secret-jwt-key-2026
OPENAI_API_KEY=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
GEMINI_API_KEY=AQ.Ab8RN6JxYrr4YZoDpiqxSkMfgZkvK6Ie-WUu9eww_BHSDpBR9Q
